<footer>
    {% assign footerSections = site.footer | sort: "order" %}
    {% for section in footerSections %}
    {% if forloop.first == true %}
    <div class="section" id="first">
        <p class="title">
            {{ section.title }}
        </p>
        {% if section.title == "Öffnungszeiten" %}
        <p class="content" id="openings">
            {% else %}
        <p class="content">
            {% endif %}
            {{ section.content | remove: '<p>' | remove: '</p>' | newline_to_br }}
        </p>
    </div>
    {% elsif forloop.last == true %}
    <div class="section" id="last">
        <p class="title">
            {{ section.title }}
        </p>
        {% if section.title == "Öffnungszeiten" %}
        <p class="content" id="openings">
            {% else %}
        <p class="content">
            {% endif %}
            {{ section.content | remove: '<p>' | remove: '</p>' | newline_to_br }}
        </p>
    </div>
    {% else %}
    <div class="section">
        <p class="title">
            {{ section.title }}
        </p>
        {% if section.title == "Öffnungszeiten" %}
        <p class="content" id="openings">
            {% else %}
        <p class="content">
            {% endif %}
            {{ section.content | remove: '<p>' | remove: '</p>' | newline_to_br }}
        </p>
    </div>
    {% endif %}


    {% endfor %}
</footer>