<header>
    <div class="logo">
        <picture>
            <source type="image/webp" srcset="assets/img/Logo.webp">
            <source type="image/jp2" srcset="assets/img/Logo.jp2">
            <img src="assets/img/Logo.png" alt="Wappen Tarp">
        </picture>
    </div>
    <nav>
        <div class="left">
            <a title="Katalog und Leserkonto" href="http://212.7.136.153/iopac/index.htm">Katalog und Leserkonto</a>
            <a title="Onleihe zwischen den Meeren"
               href="http://www1.onleihe.de/schleswig_holstein/frontend/welcome,51-0-0-100-0-0-1-0-0-0-0.html">Onleihe
                zwischen den Meeren</a>
        </div>
        <div class="middle">
            <a title="Benutzungsordnung" href="">Benutzungsordnung</a>
            <a title="Entgeldordnung" href="">Entgeldordnung</a>
            <a title="Datenschutzerklärung" href="">Datenschutzerklärung</a>
            <a title="Impressum" href="">Impressum</a>
        </div>
        <div class="right">
            <a title="Zur Wunschliste der Bücherei..."
               href="http://www.amazon.de/registry/wishlist/3DP4PSW5P1UYL">Zur
                Wunschliste der Bücherei...</a>
        </div>
    </nav>
</header>