<meta charset="utf-8">
<!--<title>{{ page.title }}</title>-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

<link rel="icon" type="image/png" href="/assets/img/Favicon96x97.png" sizes="96x97">
<link rel="apple-touch-icon" href="/assets/img/Logo.png">
<meta name="Description" content="Webseite der Bücherei Tarp.">


<meta name="theme-color" content="#2a62dd"/>

<link rel="manifest" href="/manifest.json">
{% seo %}