<aside>
    <div class="openings">
        <h3 class="title">Öffnungszeiten</h3>
        <p class="content">
            Di, Do, Fr: 10.00 - 13.00 Uhr <br>
            Di und Fr: 14.30 - 17.30 Uhr <br>
            Do: 14.30 - 18.30 <br><br>
            <span style="font-weight: bold;">In den Ferien:</span> <br>
            Di und Fr: 10.00 - 16.00 Uhr <br>
            Do: 10.00 - 17.00 Uhr <br>
            <br>
            <span style="font-weight: bold;">Die Bücherei macht Weihnachtsferien vom 21.12.2019 bis zum 03.01.2020!</span>
        </p>
    </div>

    <div class="termine">
        <h3 class="title">Termine</h3>
        <p class="content">
            {% capture nowunix %}{{'now' | date: '%Y%m%d'}}{% endcapture %}
            {% assign nowunix = nowunix | plus: 0 %}

            {% assign sorted_events = (site.events | sort: 'event_date') %}

            {% for event in sorted_events %}
                {% capture eventtime %}{{event.event_date | date: '%Y%m%d'}}{% endcapture %}
                {% assign eventtime = eventtime | plus: 0 %}

                {% unless event.event_section %}
                    {% if nowunix <= eventtime %}
                        {% if event.event_fulldate %}
                            <span style="font-weight: bold;">{{event.title}}</span> <br>
                            <span style="font-style: italic;">am {% include translated_date.html date=event.event_date format="%-d. %B %Y" lang="de" %}</span> <br>
                            {{ event.content | remove: '<p>' | remove: '</p>' | newline_to_br }}<br><br>
                        {% else %}
                            <span style="font-weight: bold;">{{event.title}}</span> <br>
                            <span style="font-style: italic;">am {% include translated_date.html date=event.event_date format="%-d. %B %Y, %H:%M Uhr" lang="de" %}</span> <br>
                            {{ event.content | remove: '<p>' | remove: '</p>' | newline_to_br }}<br><br>
                        {% endif %}
                    {% endif %}
                {% endunless %}
            {% endfor %}


            {% assign sections_events = (site.events | where_exp: 'item', 'item.event_section != nil') | sort 'event_section' %}
            {% assign printed_sections = site.emptyArray %}
            {% assign printed_events = site.emptyArray %}

            {% for section_event in sections_events %}

                {% unless printed_sections contains section_event.event_section %}
                    {% assign sorted_sections_events = ((sections_events | where_exp: 'item', 'item.event_section != nil' ) | sort: 'event_date') %}
                    {% assign printed_sections = printed_sections | push: section_event.event_section  %}

                    <span style="font-weight: bold;">{{section_event.event_section}}</span> <br>

                    {% unless printed_events contains section_event.title %}
                        {% for event in sorted_sections_events %}

                            {% assign printed_events = printed_events | push: event.title %}

                            {% if event.event_section %}
                                {% capture eventtime %}{{event.event_date | date: '%Y%m%d'}}{% endcapture %}
                                {% assign eventtime = eventtime | plus: 0 %}

                                {% if nowunix <= eventtime %}
                                    {% if event.event_fulldate %}
                                        <span style="font-style: italic;">{% include translated_date.html date=event.event_date format="%-d.%-m.%Y:" lang="de" %}</span> {{event.title | remove: '<p>' | remove: '</p>'}}<br>
                                    {% else %}
                                        <span style="font-style: italic;">{% include translated_date.html date=event.event_date format="%-d.%-m.%Y, %H:%M Uhr:" lang="de" %}</span> {{event.title | remove: '<p>' | remove: '</p>'}}<br>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endunless %}
                {% endunless %}
            {% endfor %}
        </p>
    </div>
</aside>