@mixin Card {
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 1em;
  margin-right: 1em;
  //width: 15.25em;
}

body {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  background-color: rgb(253, 253, 253);
  // flex-direction: column;
}

header {
  display: flex;
  flex: 1 100%;
  background-color: $primary-color;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1em;
  flex-flow: row;
}


main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 83%;
  @include Card;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1.5em;
  flex-direction: column;
}

// We only got a sidebar on the right
aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 14%;
  margin-bottom: 1em;
}

footer {
  display: flex;
  flex: 1 100%;
  background-color: $primary-color;
  flex-flow: row wrap;
  padding-bottom: 1.5em;
  padding-top: 4em;
}


/* visited link */
a:visited {
  color: $secondary-color;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  aside {
    margin-left: 1em;
  }
  main {
    margin-left: 1em;
    margin-right: 1em;
  }

  aside {
    margin-bottom: 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  aside {
    margin-left: 1em;
  }
  main {
    margin-left: 1em;
    margin-right: 1em;
  }

  aside {
    margin-bottom: 1em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  aside {
    margin-left: 1em;
  }
  main {
    margin-left: 1em;
    margin-right: 1em;
  }

  aside {
    margin-bottom: 1em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  aside {
    margin-left: 1em;
  }
  main {
    margin-left: 1em;
    margin-right: 1em;
  }

  aside {
    margin-bottom: 1em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}