main h1.title {
  @include Title;
  margin: 1em auto 0 1rem;
  text-decoration: underline;
}

main .content {
  margin: 1em 1.5em;
}

main .content h2.title {
  @include Subheader;
  text-decoration: underline;
}

main .content .body {
  @include Body;
}