/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url('../fonts/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('../fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url('../fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('../fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
  url('../fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


@mixin Headline {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: $font-color;
}

@mixin Title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}

@mixin Quote {
  font-family: Roboto;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: $font-color;
}

@mixin Subheader {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: $font-color;
}

@mixin Large-Body {
  font-family: Georgia;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: $font-color;
}

@mixin Body {
  font-family: Georgia;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}

@mixin Secondary-Body {
  font-family: Georgia;
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  color: #b4b4b4;
}

@mixin Placeholder {
  font-family: Georgia;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  text-align: left;
  color: #b4b4b4;
}

@mixin Button {
  font-family: Roboto;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}