@mixin text-crop($line-height: 2, $top-adjustment: 0px, $bottom-adjustment: 0px) {
  // Configured in Step 1
  $top-crop: 21;
  $bottom-crop: 21;
  $crop-font-size: 36;
  $crop-line-height: 2;

  // Apply values to calculate em-based margins that work with any font size
  $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
  $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

  // Mixin output
  line-height: $line-height;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
  }

  &::after {
    margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
  }
}

footer .section {
  display: flex;
  margin-left: 9em;
}


footer #first.section {
  margin-left: 3.125em;
}

footer #last.section {
  margin-right: 3em;
}

footer .section .title {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 2.938em;
  float: left;
  @include text-crop($line-height: 1.2);
}


footer .section .content {
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  float: right;
  @include text-crop;
}


footer .section #openings.content {
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  float: right;
  @include text-crop;
}

footer a:link {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer .section {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.188em;
  }

  footer #first.section {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.188em;
  }

  footer #last.section {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.188em;
    margin-right: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  footer .section {
    flex-direction: row;
    justify-content: space-between;
  }

  footer #first.section {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12.188em;
  }

  footer #last.section {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  footer .section {
    flex-direction: row;
    justify-content: space-between;
  }

  footer #first.section {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12.188em;
  }

  footer #last.section {
    flex-direction: row;
    justify-content: space-between;
  }
}

// TODO fix that first 2 sections are side by side before it wraps :/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px)  {
  footer .section {
    flex-direction: row;
    justify-content: space-between;
  }

  footer #first.section {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12.188em;
  }

  footer #last.section {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}