header .logo {
  margin-top: 0.894em;
  margin-left: 1.281em;
}

header .logo picture img {
  width: 2.063em;
  height: 2.063em;
}

header .logo picture source {
  width: 2.063em;
  height: 2.063em;
}

header nav {
  display: flex;
  flex-basis: inherit;
  margin-left: 5.344em;
  padding-top: 1.619em;
  padding-bottom: 1.5em;
  margin-right: 4em;
  justify-content: space-between;

  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

header nav .middle {
  margin-left: 11.5em;
}

header a {
  margin-right: 1.5em;
}

header a:link {
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header nav {
    margin-left: 1.281em;
  }

  header nav .middle {
    margin-left: 1.4em;
  }
}