.openings {
  @include Card;
  display: flex;
  flex-direction: column;
}

.termine {
  @include Card;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

aside h3.title {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $primary-color;

  margin-top: 1em;
  margin-left: 1em;
}

aside .content {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: $font-color;

  margin: 1em;
}

