<!doctype html>
<html lang="de">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<main role="main">
    {% assign psize = site.posts | size %}
    {% unless psize == 0 %}
        <h1 class="title">News</h1>
    {% else %}
        <h1 class="title">Gleich bei Ihnen in Tarp um die Ecke - schauen Sie einfach mal vorbei!</h1>
    {% endunless %}
    <div class="content">
        {% for post in site.posts limit:1 %}
            {% include article.html %}
        {% endfor %}
        {% if psize == 0 %}
            <div class="body">
                <img src="assets/img/eingang.jpg" alt="Eingang" style="max-width: 100%; max-height: 100%;"><br>
            </div>
        {% endif %}
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}

<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>
</html>
