<!doctype html>
<html lang="de">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<main role="main">
    <h1 class="title">News</h1>
    <div class="content">
        <!-- todo show current post -->
        {% for post in site.posts limit:1 %}
            {% include article.html %}
        {% endfor %}
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}

<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>
</html>
